.card {
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.2);
    width: fit-content;

    &_header {
        display: flex;
        align-items: center;
        gap: 2rem;

        &-icon{
            width: 5rem;
        }
        &-title{
            font-size: 2rem;
        }
    }
    &_body{
        margin-top: 2rem;
    }
}
