@keyframes slide {
    from {
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

.slide {
    &_wrapper{
        overflow: hidden;
        white-space: nowrap;
        &:hover .slide_track{
            animation-play-state: paused;
        }
    }
    
    &_track {
        width: unset;
        display: inline-flex;
        justify-content: space-around;
        gap: 1rem;
        animation: slide 30s infinite linear;
    }
}