name: Deploy to OCI

on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  deploy:
      runs-on: self-hosted
      steps:
        - name: Checkout Code
          uses: actions/checkout@v4
        - name: Build and Deploy
          run: |
            docker build \
              --build-arg VITE_BASE_URL="${{ secrets.VITE_BASE_URL }}" \
              --build-arg VITE_STRAPI_API_TOKEN="${{ secrets.VITE_STRAPI_API_TOKEN }}" \
              --build-arg BLOB_READ_WRITE_TOKEN="${{ secrets.BLOB_READ_WRITE_TOKEN }}" \
            -t portfolio-ui .

            docker stop portfolio-ui || true
            docker rm portfolio-ui || true
            docker run -d \
              --name portfolio-ui \
              -p 8080:80 \
              --restart unless-stopped \
              portfolio-ui